<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="js/script.js" defer></script>
</head>
<body>
    <header>
        <div id="leftHead">LOGO</div>
        <div id="rightHead">
            <input type="text" id="searchName" name="searchName" placeholder="Search Name"/>
            <ul id="searchResult"></ul>
        </div>
    <header>
    <aside class="right-menu">
    <ul>
        <li><a href="/displayAll">Display all</a></li>
        <li><a href="/add">Add</a></li>
    </ul>
    </aside>
    <main>