<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="js/script.js" defer></script>
</head>
<body>
    <header>
        <div id="leftHead">LOGO</div>
        <div id="rightHead">
            <input type="text" id="searchName" name="searchName" placeholder="Search Name"/>
            <div id="searchResult"></div>
        </div>
    </header>
    <main> 
        <aside>
            <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon">&#9776;</label>
            <ul>
                <li><a href="/displayAll">DISPLAY ALL</a></li>
                <li><a href="/add">ADD</a></li>
            </ul>
            </nav>
        </aside>
        <article>