{{>header}}
<p>Temporarily use username 'abc@abc.com' and password 'abc' for login.</p>
<br>
<form action="/login" method="POST">
    <input type="email" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
{{>footer}}