{{>header}}
<form action="/register/add" method="POST">
    <input type="email" id="usernameWhenRegister" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="password" id="password2" name="password2" placeholder="Confirm Password">
    <input type="number" id="privilege" name="privilege" value="5">
    <input type="submit" value="Register">
</form>
{{>footer}}